<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resort</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<section class="grid grid-cols-1 md:grid-cols-2 h-screen">
    <div class="col-span-1 hidden md:flex">
        <img src="/static/images/register.jpg" alt=" image" class="w-full">
    </div>
    <div class="col-span-1 h-screen flex justify-center items-center">
        <div class="text-center">
            <h1 class="text-[32px] font-semibold mb-5">LOGIN NOW</h1>
            <p class="w-[90%] md:w-[70%] m-auto mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim sed quisquam fugiat ipsa ea eaque!</p>
            <form action="" method="post" class="w-[90%] md:w-[70%] m-auto">
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="Entery first name"  class="w-full outline-none border py-3 px-5 rounded-2xl mb-5">
                <input type="text" name="last_name" placeholder="Entery last name"  class="w-full outline-none border py-3 px-5 rounded-2xl mb-5">
                <input type="text" name="username" placeholder="Entery Your username"  class="w-full outline-none border py-3 px-5 rounded-2xl mb-5">
                <input type="password" name="password" placeholder="Entery Your password"  class="w-full outline-none border py-3 px-5 rounded-2xl mb-5">
                <button type="submit" class="py-3 px-5 bg-red-500 text-white text-[14px] font-semibold rounded-xl">SIGN UP</button>
            </form>
            <p class="text-[14px] mt-5">Already have an account? <a class="text-red-500" href="{% url 'web:login' %}">Login</a></p>
        </div>
    </div>
</section>

</body>
</html>